  <div class="container">
    <h1>Edit Appointment</h1>
 

    <label  for="user"><b>Title</b></label>
    <input type="text" placeholder="John Doe" id="uname" required>

    <label for="email"><b>Description</b></label>
    <input type="text" placeholder="Enter Email" id="email" required>

    <label for="email"><b>Choose Doctor</b></label>
    <select class="custom-select" >
      <option disabled="">Choose One Option</option>
      <option value="1">Patient</option>
      <option value="2">Doctor</option>
    </select>

    <label for="phone"><b>Date</b></label>
    <input  type="date"  id="email" required>

    <button   class="registerbtn">Edit</button>
  </div><br>
